.result__container {
    border-radius: 10px;
    background: #f1f1f1;
    padding: 25px 45px;
}

.result__list {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.result__list-item:not(:last-child) {
    margin-bottom: 10px;
}

.result__list-item:last-child {
    margin-bottom: 30px;
}