.figure:not(:last-child) {
    margin-bottom: 30px;
}

.figure img {
    display: block;
    margin: 0 auto;
    /* margin-bottom: 30px; */
}

.second__desk {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.second__desk:not(:last-child) {
    margin-bottom: 30px;
}

.second__desk-border {
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
    color: #5e5e5e;
    padding: 15px 30px;
}

.figure__border {
    border: 2px solid black;
    border-top: 0;
}

.second__desk-img {
    margin-bottom: 30px;
}